<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magic Shop</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="navbar">
          <div class="logo">
            <a href="index.html"
              ><img src="../images/logo.png" width="200px"
            /></a>
          </div>
          <nav>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="#products">Product</a></li>
            </ul>
          </nav>
          <a href="cart.html"
            ><img src="../images/cart.png" width="50px" height="50px"
          /></a>
        </div>
        <div class="row">
          <div class="col-2">
            <h1>Write With Style</h1>
            <p>
              Creativity is seeing what others see and <br />thinking what no
              one else ever thought.
            </p>
            <a href="#products" class="btn">Explore now</a>
          </div>
          <div class="col-2">
            <img src="../images/bg.jpg" />
          </div>
        </div>
      </div>
    </div>
    <!-----------Products---------->
    <div class="small-container">
      <h2 id="products" class="title">Products</h2>
      <div class="row">
        <div class="col-4">
          <img src="../images/pencil.jpg" width="250px" height="250px" />
          <h4>Apsara Pencils</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p>₹30.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
        <div class="col-4">
          <img src="../images/eraser.jpg" width="250px" height="250px" />
          <h4>Apsara Eraser</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <p>₹10.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
        <div class="col-4">
          <img src="../images/brushpens.jpg" width="250px" height="250px" />
          <h4>Brush Pens</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>₹100.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
        <div class="col-4">
          <img src="../images/sketchpen.jpg" width="250px" height="250px" />
          <h4>Sketch Pens</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <p>₹100.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
        <div class="col-4">
          <img src="../images/5gelpen.jpg" width="250px" height="250px" />
          <h4>Gel Pen(Pack of 5)</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p>₹50.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
        <div class="col-4">
          <img src="../images/5penpencil.jpg" width="250px" height="250px" />
          <h4>Penpencil(Pack of 5)</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>₹60.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
        <div class="col-4">
          <img src="../images/animalpen.jpg" width="250px" height="250px" />
          <h4>Cute Animal Pen</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p>₹80.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
        <div class="col-4">
          <img src="../images/cutter.jpg" width="250px" height="250px" />
          <h4>Cutter</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <p>₹30.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
        <div class="col-4">
          <img src="../images/cutesharpener.jpg" width="250px" height="250px" />
          <h4>Sharpener</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p>₹20.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
        <div class="col-4">
          <img src="../images/filefolder.jpg" width="250px" height="250px" />
          <h4>File Folder(Pack of 5)</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <p>₹250.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
        <div class="col-4">
          <img src="../images/highlighter.jpg" width="250px" height="250px" />
          <h4>Highlighter</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p>₹200.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
        <div class="col-4">
          <img src="../images/kit.jpg" width="250px" height="250px" />
          <h4>Stationary Kit(School Edition)</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <p>₹50.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
        <div class="col-4">
          <img src="../images/stationarykit.jpg" width="250px" height="250px" />
          <h4>Stationary Tool Kit</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>₹100.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
        <div class="col-4">
          <img src="../images/sharkpen.jpg" width="250px" height="250px" />
          <h4>Sharkpen</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>₹20.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
        <div class="col-4">
          <img src="../images/rollereraser.jpg" width="250px" height="250px" />
          <h4>Roller Eraser</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>₹20.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
        <div class="col-4">
          <img src="../images/note.jpg" width="250px" height="250px" />
          <h4>Long Sticky Notes</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>₹60.00</p>
          <input type="number" min="0" value="1" />
          <a href="" class="btn">Add To Cart</a>
        </div>
      </div>
    </div>
  </body>
</html>
